<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="../../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet"/>

<body>

<div th:fragment="header">
    <div class="navbar-collapse collapse inverse" id="navbar-header">
        <div class="container-fluid">
            <div class="about">
                <h4>About</h4>
                <p class="text-muted">A website designed to help people to find associates for their learning activity.
                    You can offer any project that you want to collaborate on or to find one for yourself. </p>
            </div>
            <div class="social">
                <h4>Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Follow on Twitter</a></li>
                    <li><a href="#">Like on Facebook</a></li>
                    <li><a href="#">Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-static-top navbar-dark bg-inverse">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
                &#9776;
            </button>
            <a href="#" class="navbar-brand">Album</a>
            <a href="registration.html" th:href="@{/registration}" class="navbar text-muted pull-md-right">Register</a>
            <!--Logout is triggered by javascript in order to pass csrf token in body of the post request.-->
            <!--It is not recommended to logout via get methods-->
            <form class="navbar text-muted pull-md-right" id="logout_form" th:action="@{/logout}" method="POST">
                <a class="text-muted" href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">
                    Logout
                </a>
            </form>
            <a href="collaboration.html" th:href="@{/collaborate}" class="navbar text-muted pull-md-right">Collaborate</a>
        </div>
    </div>
</div>
</body>
</html>
