<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js}"/>

    <script src="../static/js/caption-slide-down.js" th:src="@{js/caption-slide-down.js}"/>

    <!--include github icons (octicons)-->
    <link href="../static/build/font/octicons.css" type="text/css" th:href="@{/build/font/octicons.css}"
          rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../static/dist/css/bootstrap.css" th:href="@{/dist/css/bootstrap.css}" rel="stylesheet"/>


    <!-- Custom styles for this template -->
    <link href="../static/css/gallery.css" th:href="@{/css/gallery.css}" rel="stylesheet"/>
</head>

<body>

<div th:include="fragments/header :: header"></div>


<div class="container" style="width: 700px; margin-top:60px">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Offer a project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Become collaborator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            <h1 style="font-family: 'Oswald', serif; font-size: 18px; padding-top: 15px; padding-bottom:15px">
                You can offer a project for collaboration by browsing one from your
                file system or by specifying a name of your github repository</h1>

            <div class="input-group" style="width:400px">
                <form th:action="@{/collaborate}" method="POST">
                    <div class="input-group">
                        <input th:href="@{/gallery}" th:value="${repoName}" th:name="repoName" type="text"
                               class="form-control" placeholder="Repository name..."></input>
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-secondary"></input>
                        </span>
                    </div>
                </form>
            </div>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input"></input>
                <span class="custom-file-control"></span>
            </label>

            <div th:if="${not #lists.isEmpty(#httpSession.getAttribute('technologies'))}" class="list-group">
                <h2 style="font-family: 'Oswald', serif">After submission users will be able to find your project
                    by the following technologies:</h2>
                <a th:each="tech : ${#httpSession.getAttribute('technologies')}" th:text="${tech}" href="#"
                   class="list-group-item list-group-item-action"></a>

                <a type="submit" th:href="@{/publish}"
                   class="btn btn-success" role="button">Offer project</a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="buzz">Not yet implemented</div>
        <div role="tabpanel" class="tab-pane fade" id="references">Not yet implemented</div>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>