<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
        th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js}"/>

    <script src="../static/js/caption-slide-down.js" th:src="@{js/caption-slide-down.js}"/>

    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).on('mouseenter', '.hideMe', function () {
            var id = $(this).closest("div").find('.caption').attr('id');
            var show = document.getElementById(id);
            $(show).fadeIn(300);
            $(show).css('background-color', "white");
        });
        $(document).on('mouseleave', '.showMe', function () {
            var id = $(this).attr('id');
            var caption = document.getElementById(id);
            $(caption).hide();
        });
        /*]]>*/
    </script>

    <!--include github icons (octicons)-->
    <link href="../static/build/font/octicons.css" type="text/css" th:href="@{/build/font/octicons.css}" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/dist/css/bootstrap.css" th:href="@{/dist/css/bootstrap.css}" rel="stylesheet"/>


<!-- Custom styles for this template -->
    <link href="../static/css/gallery.css" th:href="@{/css/gallery.css}" rel="stylesheet"/>
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="album text-muted">
    <div class="container">

        <div class="container centered" style="margin-top: 15px; margin-bottom: 15px">
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

                <!-- Links -->
                <ul class="nav navbar-nav">
                    <li class="nav-item" style="padding-top: 5px">
                        <span class="octicon octicon-search"></span>
                    </li>
                    <li class="nav-item">
                        <input type="text" class="form-control"/>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 1</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Order By
                        </a>
                        <div class="dropdown-menu" aria-labelledby="Preview">
                            <a class="dropdown-item" href="#">Difficulty</a>
                            <a class="dropdown-item" href="#">Rating</a>
                            <a class="dropdown-item" href="#">Dropdown Link 3</a>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="card aligned text-md-center" th:each="project : ${projects}">
            <div class="card-block">
                <img class="hideMe" style="width: 336px; height: 280px" th:src="@{/} + ${project.logo}" alt="Sample Image"/>
                <div th:id="${project.id}" class="card-img-overlay caption showMe">
                    <br/>
                    <h4 style="padding-top: 10px; padding-bottom: 10px" th:text="TITLE"></h4>
                    <p th:text="${tech}" th:each="tech : ${project.technologies}"></p>
                    <ul style="padding-top: 5px; font-size: 0.9em">
                        <li th:text="${technology}" th:each="technology : ${technologies}"></li>
                    </ul>
                </div>
            </div>
            <p th:text="TITLE"></p>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js}" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js}" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"/>
<script src="assets/js/vendor/holder.min.js"
        th:src="@{/js/vendor/holder.min.js}"/>
<script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
    });
    /*]]>*/
</script>
<script src="../static/dist/js/bootstrap.min.js"
        th:src="@{/dist/js/bootstrap.min.js}"/>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"
        th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"/>
</body>
</html>