<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
            th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js}"/>

    <script src="../static/js/caption-slide-down.js" th:src="@{js/caption-slide-down.js}"/>

    <!--include github icons (octicons)-->
    <link href="../static/build/font/octicons.css" type="text/css" th:href="@{/build/font/octicons.css}" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/dist/css/bootstrap.css" th:href="@{/dist/css/bootstrap.css}" rel="stylesheet"/>


    <!-- Custom styles for this template -->
    <link href="../static/css/gallery.css" th:href="@{/css/gallery.css}" rel="stylesheet"/>
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="container"  style="margin-top: 30px">
    <form class="form-horizontal" th:action="@{/registration}" th:object="${user}" method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">Register</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                    <input th:field="*{ssoId}" th:class="${#fields.hasErrors('ssoId')}
                    ? 'error input-xlarge' : 'input-xlarge'" type="text" id="username"
                           name="username" placeholder=""/>
                    <div style="width: 500px">
                    <p th:if="${#fields.hasErrors('ssoId')}" class="alert alert-danger" style="padding: 4px"
                       th:errors="*{ssoId}"></p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input th:field="*{password}" th:class="${#fields.hasErrors('password')}
                    ? 'error input-xlarge' : 'input-xlarge'" type="password" id="password"
                           name="password" placeholder=""/>
                    <div style="width: 500px">
                        <p th:if="${#fields.hasErrors('password')}" class="alert alert-danger" style="padding: 4px"
                           th:errors="*{password}"></p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="firstName">First name</label>
                <div class="controls">
                    <input th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')}
                    ? 'error input-xlarge' : 'input-xlarge'" type="text" id="firstName"
                           name="firstName" placeholder=""/>
                    <div style="width: 500px">
                        <p th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" style="padding: 4px"
                           th:errors="*{firstName}"></p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="lastName">Last name</label>
                <div class="controls">
                    <input th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}
                    ? 'error input-xlarge' : 'input-xlarge'" type="text" id="lastName"
                           name="lastName" placeholder=""/>
                    <div style="width: 500px">
                        <p th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" style="padding: 4px"
                           th:errors="*{lastName}"></p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input th:field="*{email}" th:class="${#fields.hasErrors('email')}
                    ? 'error input-xlarge' : 'input-xlarge'" type="text" id="email"
                           name="email" placeholder=""/>
                    <div style="width: 500px">
                        <p th:if="${#fields.hasErrors('email')}" class="alert alert-danger" style="padding: 4px"
                           th:errors="*{email}"></p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>